ThePurge 1.0

NUM_PLAYERS		   4	
NUM_DAYS		   5
NUM_ROUNDS_PER_DAY        50
BOARD_ROWS	          15
BOARD_COLS	          30

NUM_INI_BUILDERS           4 	
NUM_INI_WARRIORS	   2
NUM_INI_MONEY             10
NUM_INI_FOOD               5
NUM_INI_GUNS               4
NUM_INI_BAZOOKAS           2

BUILDER_INI_LIFE          60
WARRIOR_INI_LIFE         100
MONEY_POINTS	           5
KILL_BUILDER_POINTS      100	
KILL_WARRIOR_POINTS      250	
FOOD_INCR_LIFE	          20

LIFE_LOST_IN_ATTACK        20
BUILDER_STRENGTH_ATTACK    1
HAMMER_STRENGTH_ATTACK     10
GUN_STRENGTH_ATTACK        100
BAZOOKA_STRENGTH_ATTACK    1000

BUILDER_STRENGTH_DEMOLISH  3
HAMMER_STRENGTH_DEMOLISH   10
GUN_STRENGTH_DEMOLISH      10
BAZOOKA_STRENGTH_DEMOLISH  30

NUM_ROUNDS_REGEN_BUILDER   50
NUM_ROUNDS_REGEN_WARRIOR   50
NUM_ROUNDS_REGEN_FOOD      10
NUM_ROUNDS_REGEN_MONEY     5
NUM_ROUNDS_REGEN_WEAPON    40

BARRICADE_RESISTANCE_STEP  40
BARRICADE_MAX_RESISTANCE   320
MAX_NUM_BARRICADES         3

RANDOM
